html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $font;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  background-color: $black;
  background-image: url(./../starter-code/assets/images/pattern-circle.svg), url(./../starter-code/assets/images/pattern-rings.svg), url(./../starter-code/assets/images/pattern-rings.svg);
  background-position: 125% 10%, 220% 5%, -100% 40%;
  background-repeat: no-repeat;
  transition: 0.2s linear;
  color: $white;
  font-size: 16px;
  position: relative;
  @include lg {
    background-image: url(./../starter-code/assets/images/pattern-rings.svg), url(./../starter-code/assets/images/pattern-rings.svg);
    background-position: 130% 39%, -21% 5%
  }
}

.page-wrapper {
  box-sizing: border-box;
  width: 375px;
  padding: 16px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include lg {
    width: 100%;
  }
  @include xl {
    padding-left: 165px;
    padding-right: 165px;
  }
}