.contact-footer-wrapper {
  background-color: $darkgray;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-image: url(./../starter-code/assets/images/pattern-rings.svg),
    url(./../starter-code/assets/images/pattern-rings.svg);
  background-position: 220% 5%, -100% 40%;
  background-repeat: no-repeat;
  @include lg {
    background-position: -40% 5%, 120% 40%;
  }
  @include xl {
    margin-top: 60px;
  }
}

.contact {
  width: 343px;
  background-color: transparent;
  @include lg {
    width: 445px;
  }
  @include xl {
    width: 1100px;
    display: flex;
    justify-content: space-around;
  }
  &__text {
    @include xl {
        width: 445px;
    }
  }
  &__title {
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    @include lg {
      font-size: 72px;
    }
  }
  &__description {
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
    color: $almostwhite;
    text-align: center;
    @include lg {
      font-size: 18px;
      line-height: 28px;
    }
  }
  &__form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color: $white;
    border-bottom: 1px solid $white;
    @include lg {
      border: none;
    }
    @include xl {
        width: 445px;
    }
  }
  &__name {
    @include input;
    color: $white;
    &::placeholder {
      color: $white;
      margin-left: 24px;
    }
    &:focus {
      outline: none;
    }
  }
  &__email {
    @include input;
    color: $white;
    margin-top: 32px;
    &::placeholder {
      color: $white;
    }
    &:focus {
      outline: none;
    }
  }
  &__message {
    @include input;
    color: $white;
    height: 100px;
    margin-top: 32px;
    &::placeholder {
      color: $white;
    }
    &:focus {
      outline: none;
    }
  }
  &__button {
    @include linebutton;
    margin-top: 32px;
    align-self: flex-end;
    margin-bottom: 87px;
  }
}
