$color_1: #333;
$color_2: #707070;
$color_3: #FFF;
$color_4: #6E93f7;
$color_5: darken($green, 30);
$background-color_1: #FFF;
$background-color_2: #4070F4;
$background-color_3: #6E93f7;

.slide-container {
	max-width: 365px;
	width: 100%;
	padding: 40px 0;
	@include lg  {
		max-width: 840px;
	}
	@include xl {
		max-width: 1100px
	}
}
.slide-content {
	margin: 0 40px;
	overflow: hidden;
	border-radius: 25px;
}
.card {
	border-radius: 25px;
	background-color: $darkgray;
}
.image-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	row-gap: 5px;
    width: 100%;
    height: 300px;
	.card-img {
		height: 100%;
		width: 100%;
		object-fit: cover;
        border-radius: 25px;
	}
}
.card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: flex-end;
    padding: 10px;
}
.description {
    display: flex;
    align-items: center;
	font-size: 14px;
	color: $color_2;
    padding: 5px;
	text-align: center;
    height: 110px;
}

@include cardBtn;

.swiper-navBtn {
	color: $green;
	transition: color 0.3s ease;
	&:hover {
		color: darken($green, 30);
	}
	&::before {
		font-size: 35px;
	}
	&::after {
		font-size: 35px;
	}
}
.swiper-button-next {
	right: 0;
}
.swiper-button-prev {
	left: 0;
}
.swiper-pagination-bullet {
	background-color: $green;
	opacity: 1;
}
.swiper-pagination-bullet-active {
	background-color: $green;
}
@media screen and (max-width: 768px) {
	.slide-content {
		margin: 0 10px;
	}
	.swiper-navBtn {
		display: none;
	}
}
